@page
@model MasterIdentity.Areas.Admin.Pages.ArticleCategory.EditModel
@{
}
<div class="card">
    <div class="card-header">
        <h2>Edit Article Category</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form method="post" asp-page-handler="Response">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="@Model.art!.Id"/>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label asp-for="@Model.art!.Title">Title : </label>
                            <input type="text" asp-for="@Model.art!.Title" class="form-control" />
                            <span asp-validation-for="@Model.art!.Title" class="text text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" />
                        <a class="btn btn-dark" asp-area="Admin" asp-page="./Index">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>