@page
@model MasterIdentity.Pages.Register.ForgetPasswordModel
@{
}
<div class="container">>
    <h1>ForgotPassword</h1>

    <h4>ForgotPasswordConfirmationDto</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            @if (ViewBag.Message != null)
            {
                <div class="alert-info">
                    <strong>@ViewBag.Message</strong>
                </div>
            }
            @if (TempData["UserExist"] != null)
            {
                <div class="alert alert-danger">
                    <text>@TempData["UserExist"]</text>
                </div>
            }
            @if (TempData["ConfirmPassword"] != null)
            {
                <div class="alert alert-success">
                    <text>@TempData["ConfirmPassword"]</text>
                </div>
            }
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="forget.Email" class="control-label"></label>
                    <input asp-for="forget.Email" class="form-control" />
                    <span asp-validation-for="forget.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>